<h2><%= @form.title%></h2>
<%= @form.description %>
<br>
<br>
<%= form_tag entries_url do %>
<input type="hidden" name="_method" value="put">
<input type="hidden" name="entry[form_id]" value="<%= @form.id %>">

	<% @form.fields.each do |field| %>
		<% if field.type == "check_box" %>
			<%= field.label %>
			<br>
			
			<% field.choices.each do |opt| %>
				
				<%= label_tag(create_special_tag(create_tag(field.id), opt), opt) %>
				<%= send field.type + '_tag', create_special_tag(create_tag(field.id), opt) %>
				<br>
			<% end %>
			
		<% elsif field.type == "radio_button" %>
			<%= field.label %>
			<br>
			
			<% field.choices.each do |opt| %>
				
				<%= label_tag(create_special_tag(create_tag(field.id), opt), opt) %>
				<%= send field.type + '_tag', create_tag(field.id), opt %>
				<br>
			<% end %>
			
		<% elsif field.type == "select" %>
			<%= field.label %>:
			<%= send field.type + '_tag', create_tag(field.id), options_for_select(get_selections(field)) %>
			<br>
			
		<% else %>
			<%= label_tag(create_tag(field.id), field.label) %>
	 		<%= send field.type + '_tag', create_tag(field.id) %>
		<% end %>
		<br>
		
	<% end %>
	
	<%= submit_tag "Update" %>
<% end %>