<h2><%= @form.title%></h2>
<%= @form.description %>
<br>
<br>

<%= form_for @entry, :url => {:action => "create"} do |f| %>

	<% @form.fields.each do |field| %>
		<% if field.type == "check_box" %>
		
		<% elsif field.type == "radio_button" %>
		
		<% elsif field.type == "select" %>
		
		<% else %>
			<%= label_tag(create_tag(field.id), field.label) %>
	 		<%= f.send field.type, field.id %>
		<% end %>
		<br>
	<% end%>
	
	<%= f.submit "Create" %>
<% end %>