<%= button_to "Back", form_entries_url(@form.id), :method => :get %>

<h3><%= @form.title %></h3>
<table>
	<% @form.fields.each do |field| %>
		<tr>
			<td><%= field.label %></td>
			<td><%= display_attribute(@entry, field) %></td>
		</tr>
	<% end %>
</table>
<br>
<%= button_to "Edit", edit_form_entry_url(@form.id, @entry.id), :method => :get %>
<%= button_to "Delete", entry_url(@entry.id), :method => :delete %>