<label class="bold"><%= field.label %></label>
<% if field.type == "text_field" %>
	<input type="text" disabled>
<% elsif field.type == "text_area" %>
	<textarea disabled></textarea>
<% elsif field.type == "check_box" %>
	<% field.choices.each_with_index do |choice, i| %>
		<div class="choices">
			<div class="choice-<%= i %>">
				<label class="label"><%= choice %></label>
				<input type="checkbox" disabled>
			</div>
	<% end %>
<% elsif field.type == "select" %>
	<select id="select" disabled>
		<% field.choices.each_with_index do |choice, i| %>
			<option id="choice-<%= i %>"><%= choice %></option>
		<% end %>
	</select>
	<% else %>
	<div class="choices">
		<% field.choices.each_with_index do |choice, i| %>
			<div class="choice-<%= i %>">
				<label class="label"><%= choice %></label>
				<input id="first<%= i %>" type="radio" disabled>
			</div>
		<% end %>
	</div>
<% end %>