<div class="form-show">
	<h4 class= "form-title"><%= form.title %></h4>
	<ul class="inline">
		<li><%= link_to "Entries", form_entries_url(form), :method => :get %></li>
		<li><%= link_to "Edit" %></li>
		<li><%= link_to "View", new_form_entry_url(form), :method => :get %></li>
		<li><%= link_to "Notifications" %></li>
		<li><%= link_to "Payment" %></li>
		<li><%= link_to "Code" %></li>
		<li class="pull-right">
			<%= button_to "Delete", form_url(form), :method => :delete, :class => "btn btn-mini btn-danger"%>
		</li>
		<li class="pull-right">
			<%= button_to "Duplicate", duplicate_form_url(form), :method => :post, :class => "btn btn-mini btn-success"%>
		</li>
	</ul>
	
</div>
<br>