<div class="inner-body">
	
	<ul class="errors"></ul>
	
	<div class= "new-form-body">
		<div class="form-toolbar">
			<ul id="myTab" class="nav nav-tabs">
				<li class="add-field-tab active">
					<a href="#add-field" data-toggle="tab">Add a Field</a>
				</li>
				<li class="edit-field-tab">
					<a href="#edit-field" data-toggle="tab">Field Settings</a>
				</li>
				<li class="edit-form-tab">
					<a href="#edit-form" data-toggle="tab">Form Settings</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div id="add-field" class="tab-pane fade active in">
					<div class="tab-form">
						<h4>Standard Fields</h4>
						<button id="text-field-btn" class="btn btn-list" type="button">Single Line Text</button>
						<button id="text-area-btn" class="btn btn-list" type="button">Paragraph Text</button>
						<br>
						<br>
						<button id="checkbox-btn" class="btn btn-list" type="button">Checkbox</button>
						<button id="dropdown-btn" class="btn btn-list" type="button">Dropdown</button>
						<br>
						<br>
						<button id="radio-btn" class="btn btn-list" type="button">Multiple Choice</button>
					</div>
				</div>
				<div id="edit-field" class="tab-pane fade" data-id="<%= @form.fields.length %>">
					<div class="tab-form">
						<% @form.fields.each_with_index do |field, i| %>
								<%=render :partial => "field_form", :locals => {:field => field, :index => i} %>
						<% end %>
					</div>
				</div>
				<div id="edit-form" class="tab-pane fade">
					<div class="tab-form">
						<form id="save-form-attributes">
							<label for="form-title-attr">Form Title: </label>
							<input type="text" name="form[title]" value="<%= @form.title %>" id="form-title-attr">
							<br>
							<label for="form-description-attr">Form Description: </label>
							<textarea id="form-description-attr" name="form[description]" value="<%= @form.description %>" rows="4"></textarea>
							<br>
	
							<input type="submit" class="btn btn-primary" value="Save">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="new-form">
			<div id="form" data-id="<%= @form.id %>">
				<h3 id="form-title"><%= @form.title %></h3>
				<p id="form-description"><%= @form.description %></p>
			</div>
			
				<ul id="fields">
					<% @form.fields.each_with_index do |field, i| %>
						<li class="field-<%= i %>">
							<%=render :partial => "field", :locals => {:field => field} %>
						</li>
					<% end %>
				</ul>
			
		</div>
		<div id="update-form">
			<button id="update-form-btn" class="btn btn-primary pull-right" type="submit">Update Form</button>
			<br>
		</div>
	</div>
</div>