<h3>Create Form</h3>

<%= render :partial => "layouts/errors" %>

<form action="<%= forms_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" 
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">
	
	<label for="form-title">Title</label>
	<input type="text" name="form[title]" 
				 value="<%= @form.title %>" id="form-title">
	<br>
	
	<label for="form-description">Description</label>
	<textarea name="form[description]" id="form-description"><%= @form.description %></textarea>
	
	<p><input type="submit" value="Create Form"></p>
</form>