<h3>Edit Field</h3>

<%= render :partial => "layouts/errors" %>

<form action="<%= form_field_url(@form.id, @field.id) %>" method="post" 
			accept-charset="utf-8">
	<input type="hidden" 
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">
	
 	<input type="hidden" name="_method" value="put">
	
	<label for="field-label">Field Label: </label>
	<input type="text" name="field[label]"
				 value="<%= @field.label %>" id="field-label">
	<br>
	
	<label for="field-type">Field Type: </label>
	<select name="field[type]" id="field-type">
		<option value="text_field" <%= "selected" if @field.type == "text_field" %>>Single Line Text</option>
		<option value="text_area" <%= "selected" if @field.type == "text_area" %>>Paragraph Text</option>
		<option value="check_box" <%= "selected" if @field.type == "check_box" %>>Checkbox</option>
		<option value="select" <%= "selected" if @field.type == "select" %>>Dropdown</option>
		<option value="radio_button" <%= "selected" if @field.type == "radio_button" %>>Multiple Choice</option>
	</select>
	<br>
	
	<% if @field.required %>
		<label for="field-required">Required</label>
		<input type="checkbox" name="field[required]" value="t" id="field-required" checked>
		<br>
	<% else %>
		<label for="field-required">Required</label>
		<input type="checkbox" name="field[required]" value="t" id="field-required">
		<br>
	<% end %>
	
	<% if @field.uniqueness %>
		<label for="field-unique">No Duplicates</label>
		<input type="checkbox" name="field[uniqueness]" value="t" id="field-unique" checked>
		<br>
	<% else %>
		<label for="field-unique">No Duplicates</label>
		<input type="checkbox" name="field[uniqueness]" value="t" id="field-unique">
		<br>
	<% end %>
	
	<% if @field.isNotText %>
		Choices:
		<br>
		<% @field.choices.each_with_index do |choice, i| %>
			<input type="text" name="choice[<%= (i).to_s %>]" value="<%= choice %>">
			<br>
		<% end%>
		<input type="text" name="choice[<%= (@field.choices.length).to_s %>]" value="">
	<% end %>
	
	<p><input type="submit" value="Update Field"></p>
</form>